Unity/Library/*
Unity/Unity-csharp.sln
Unity/Unity.sln
Unity/Unity.userprefs
Unity/Assembly-CSharp-vs.csproj
Unity/Assembly-CSharp.csproj
Unity/Assembly-CSharp.pidb
Unity/Assembly-CSharp.pidb
Unity/Assembly-CSharp-Editor-vs.csproj
Unity/Assembly-CSharp-Editor.csproj
Unity/obj/Debug/Assembly-CSharp-Editor.csproj.FilesWrittenAbsolute.txt
Unity/obj/Debug/Assembly-CSharp-Editor.dll
Unity/obj/Debug/Assembly-CSharp-Editor.dll.mdb
Unity/obj/Debug/Assembly-CSharp.csproj.FilesWrittenAbsolute.txt
Unity/obj/Debug/Assembly-CSharp.dll.mdb
Unity/Temp/
Unity/Assets/Plugins/Editor/ScriptInspector3
ScriptInspector3.meta
